.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--dark-color);
  padding: 0rem var(--padding);
  align-items: center;
  height: var(--header-height);
  transition: all 250ms ease-in-out;
  z-index: 2;

  & a {
    text-decoration: none;
  }
}

.headerMobileNavOpen {
  z-index: 3;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.transparent {
  transition: all 250ms ease-in-out;
  background-color: transparent;
}

.hideBrand {
  transition: all 250ms ease-in-out;
  visibility: hidden;
}

.brand {
  flex-grow: 1;

  & svg {
    height: 3rem;
  }

  @media (--sm-viewport) {
    & {
      display: flex;
      justify-content: center;
    }

    & svg {
      height: 2rem;
    }
  }
}

.brandLink {
  display: inline-flex;
  align-items: flex-end;
  margin: 0.5rem 0;
}


.brandText {
  font-size: 1.5rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 100;
  margin-left: 2rem;
  line-height: 1.75rem;
  font-family: var(--header-font);
  color: var(--light-text);

  @media (--sm-viewport) {
    & {
      line-height: 1.5rem;
      margin-left: 0;
    }
  }
}

.navContainer {
  & a {
    margin-left: 2rem;
    font-size: 1rem;
  }

  & a:first-child {
    margin-left: 0;
  }

  @media (--md-viewport) {
    & {
      display: none;
    }
  }
}

.navLink {
  color: var(--light-text);
}

.activeNavLink {
  color: var(--light-color) !important;
}

.mobileNavContainer {
  display: none;

  @media (--md-viewport) {
    display: block;
  }
}
