.password {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color);
  color: var(--light-text);
  width: calc(100% - (2 * var(--padding)));
  max-width: 800px;
  margin: auto;
  padding: var(--padding);
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(var(--dark-color-rgb), 0.75);

  & a {
    display: flex;
    align-items: center;
    color: var(--light-color);
    font-size: 1.1rem;
    align-self: flex-start;

    & svg {
      width: 2rem;
      margin-right: 1rem;
      fill: var(--light-color);
    }
  }

  & h1 {
    margin: 0;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  & p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
  }

  & form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    margin: 2rem auto;

    @media (--sm-viewport) {
      & {
        width: 100%;
      }
    }
  }

  & input {
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 1.5rem 1rem;
    border: 1px solid rgba(var(--dark-color-rgb), 0.5);
    box-sizing: border-box;

    &:hover {
      border: 1px solid rgba(var(--dark-color-rgb), 0.8);
    }

    &:focus {
      outline: 1px solid var(--light-color);
    }
  }

  & button {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 1px solid var(--light-color);
    padding: 0.7rem 6rem;
    margin-top: 1.5rem;

    @media (--sm-viewport) {
      & {
        width: 100%;
      }
    }
  }
}

.passwordError {
  border: 1px solid var(--error-color);
}

.errorText {
  font-size: 0.8rem;
  color: var(--error-color);
}
