.container {
  position: sticky;
  top: var(--header-height);
  margin-bottom: 1.5rem;
  z-index: 2;
  background-color: var(--light-text);
}
.filterDropdown {
  display: none;
  @media (--md-viewport) {
    & {
      display: block;
    }
  }
}
.filterButtons {
  @media (--md-viewport) {
    & {
      display: none;
    }
  }
}
.filter {
  color: var(--dark-color);
  font-family: var(--body-font);
  font-size: 1rem;
  line-height: 1.75rem;
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
  cursor: pointer;
}
.active {
  border-top: 5px solid var(--light-color);
  margin-top: calc(-1 * 5px);
}
