.dropdown {
  display: inline-block;
  position: relative;
  width: auto;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;

  & button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-family: var(--body-font);
    font-size: 1rem;
    line-height: 1.75rem;
    color: var(--dark-color);
  }
}
.menuButton {
  display: flex;
  align-items: center;

  & svg {
    fill: var(--dark-color);
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
}
.dropdownMenu {
  visibility: visible;
  scale: 1;
  transition: all 0.2s ease-in-out;
  display: grid;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-text);
  color: var(--dark-color);
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(var(--dark-color-rgb), 0.25);

  &[aria-hidden='true'] {
    visibility: hidden;
    scale: 0;
    transition: all 0.2s ease-in-out;
  }
  & button {
    padding: 1rem 2rem;
  }
  & button:not(:last-child) {
    border-bottom: 1px solid rgba(var(--dark-color-rgb), 0.25);
  }
}
